{% extends('base.html.twig') %}
{% block section %}
    <div class="col-lg-9 col-md-12 col-sm-12 col-pad">
        <div class="content-area5">
             <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="dashboard-list">
                            <div class="dashboard-message bdr clearfix ">
                                <div class="tab-box-2">
                                    <div class="clearfix mb-30 comments-tr">
                                        <span>Liste des Entreprise</span>
                                        <ul class="nav nav-pills float-right" id="pills-tab" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active show" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Today</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="true">Month</a>
                                            </li>
                                        </ul>
                                    </div>
                                    {% for u in user %}
                                    {% for r in u.Roles %}
                                    {% if r=="ROLE_ENTREPRISE" %}
                                    <div class="tab-content" id="pills-tabContent">
                                        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                                            <div class="new-user-box">
                                                <div class="user-author">
                                                    <a href="#">
                                                        <img src="{{ asset(u.image) }}" alt="avatar-user">
                                                    </a>
                                                </div>
                                                <div class="user-content">
                                                    <div class="f-left">
                                                        <h5>{{ u.nomsc }}</h5>
                                                        <p>{{ u.adresse }}</p>
                                                    </div>
                                                    <div class="f-right">
                                                        <a href="{{ path('abonner',{'id':u.id}) }}" class="follow">Follow</a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>










{% endblock %}
